# Arquivos/pastas do Maven
/target/
/logs/
/release.properties
/repository/

# Arquivos temporários do sistema
*.log
*.out
*.tmp

# Arquivos de IDEs
# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# IntelliJ
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

